@use "../helpers" as *;



/*=============================================
=    Custom properties: SCSS variables to CSS properties   =
=============================================*/

:root {
  
  @each $color-name, $color-value in $site-colors {
    --#{$color-name}: #{$color-value}; 
  }

  --radius: 0.5rem;
}


/*=====  End of Custom properties  ======*/



body {
  background: gb(light);
  font-size: 16px;
}

/*=============================================
=            Typography            =
=============================================*/

h1,
.h1,
h2,
.h2 {
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 0;
  
}

h3,
.h3,
h4,
.h4,
p,
input,
label,
.label,
button,
.btn, a {
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  margin-top: 0;
}

h1,
.h1 {
  font-size: clamp(2.5rem, 0.4rem + 8vw, 7rem);
}

h2,
.h2 {
  font-size: clamp(2rem, 0.4rem + 5vw, 4rem);
  margin-bottom: 1.5rem;
}

h3,
.h3 {
  font-size: 1.875rem;
  font-weight: 700;
}

h4,
.h4 {
  font-size: 1.125rem;
  font-weight: 700;
}

p {
  font-size: clamp(1.2rem, 50rem, 1.5rem);
  font-weight: 400;
  max-width: 60rem;
}



a, a:visited, a:active {
  text-decoration: none;
}

a
 {
  transition: all 0.4s ease 0s;
  color: var(--dark);;
}

.heading {
  max-width: 52rem;
}

.heading-smaller {
  max-width: 32rem;
}

.thin {
  font-weight: 200;
}

.thin-heading {
  letter-spacing: 0.125rem;
  font-weight: 200;
}




ul {
  padding: 0;
}

ul li {
  list-style: none;
  margin-bottom: 2rem;
}

/*=====  End of Typography  ======*/


/*=============================================
=            Logo            =
=============================================*/

.logo {
  color: var(--white);
}


/*=====  End of Logo  ======*/



/*=============================================
=            container            =
=============================================*/

.container {
  max-width: 90rem;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/*=====  End of container  ======*/



/*=============================================
=            Spacing            =
=============================================*/

.space {
  padding-top: 6rem;
  padding-bottom: 3rem;
}

.space-small {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.space-top {
  padding-top: 3rem;
}

.space-top-6 {
  padding-top: 6rem;
}

.space-bottom {
  padding-bottom: 3rem;
}

.space-bottom-6 {
  padding-bottom: 6rem;
}


.mr {
  margin-right: 2rem;
}


.center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*=====  End of Spacing  ======*/



/*=============================================
=            flex            =
=============================================*/

.flex {
  display: flex;
}

/*=====  End of flex  ======*/



/*=============================================
=            background image            =
=============================================*/



/*=====  End of background image  ======*/

