@use "../helpers" as *;


footer {
    background: var(--dark);
    color: var(--white);

}

.footer__nav {
   
    padding: 9rem 1.5rem 4.5rem;
    display: flex;
    flex-direction: column-reverse;

    @include breakpoint(sm) {
        padding: 9rem 0 4.5rem;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
    }

}

footer a {
    color: var(--light);
}