@use "../helpers" as *;



header {
    background: var(--dark);
    
  
  }

  .header__nav {   
    display: flex;
    align-items: center;
    height: 5vh;
    min-height: 6rem;
  }
  
  .logo {
    font-size: 2rem;
    text-transform: lowercase;
    letter-spacing: 3px;

    a {
      color: var(--white);
    }

    img {
      height: 1.875rem;
    }
  }
  



.headerMenu__button> span {
    display: block;
    width: 2rem;
    height: 0.125rem;
    border-radius: 9999px;
    background-color: var(--white);
}

.headerMenu__button > span:not(:last-child) {
    margin-bottom: 0.5rem;
}

.headerMenu__button, .headerMenu__button > span {
    transition: all .4s ease-in-out;
}

.headerMenu__button.active {
  transition-delay: 0.8s;
  transform: rotate(45deg);
}

.headerMenu__button.active > span:nth-child(2) {
  width: 0;
}

.headerMenu__button.active > span:nth-child(1), 
.headerMenu__button.active > span:nth-child(3) {
  transition-delay: .4s;
}

.headerMenu__button.active > span:nth-child(1){
  transform: translateY(9px);
}

.headerMenu__button.active > span:nth-child(3){
  transform: translateY(-9px) rotate(90deg);
}


.headerMenu__navItems {
  //display: none;
  position: fixed;
} 

.headerMenu__navItems a {
  color: var(--white);
} 
