@use "../helpers" as *;


#heroHome {
    background-image: url('/assets/images/front2.jpg');
    @include background-img;
    background-color: var(--dark);
    color: var(--light);
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


